{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login | FairShare</title>
  <link rel="stylesheet" href="{% static 'ration_app/css/user_login.css' %}">
</head>
<body>
  <header class="gov-header">
    <div class="gov-banner">
      <img src="{% static 'ration_app/images/ashoka.png' %}" alt="Ashoka Emblem">
      <div>
        <h1>FairShare Portal</h1>
        <p>Empowering Citizens | Government of India</p>
      </div>
    </div>
  </header>

  <main>
    <div class="login-container">
      <h2>Beneficiary Login</h2>
      <form method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter Username" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Login</button>
      </form>

      <p>Don’t have an account? <a href="{% url 'register' %}">Register here</a></p>

       <p><a href="{% url 'home' %}">Back to Home</a></p>

      {% if messages %}
        {% for message in messages %}
          <p class="error">{{ message }}</p>
        {% endfor %}
      {% endif %}
    </div>
  </main>

  <footer>
    <p>© 2025 FairShare | Government of India | All Rights Reserved</p>
  </footer>
</body>
</html>
